.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; /* Reduced padding to move event details closer */
}

.calendar {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  min-height: 500px; /* Fixed height to prevent moving */
  position: relative; /* Ensure the calendar stays in place */
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.navButton {
  background-color: #FFA500; /* Changed to orange */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 18px;
}

.navButton:hover {
  background-color: #cc8400; /* Darker shade of orange */
}

.daysOfWeek {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.dayOfWeek {
  width: 14.28%;
  text-align: center;
  font-weight: bold;
  color: #aaa; /* Lighter text color */
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.date {
  width: 14.28%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Make the day numbers bold */
}

.date:hover {
  background-color: #e0e0e0;
}

.eventDate {
  color: orange;
}

.eventDetails {
  margin-top: -150px; /* Significantly reduced margin to move event details closer */
  text-align: center;
  position: relative; /* Changed to relative to keep it within the flow */
}

.eventImage {
  width: 100%;
  max-width: 500px; /* Increased size */
  border-radius: 10px;
  margin-bottom: 10px; /* Reduced margin to move image closer */
}

.eventDetails h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.getTicketsButton {
  background-color: #f16a44;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10;/* Reduced margin to lower the button */
} 

.getTicketsButton:hover {
  background-color: #b54500;
}
