.eventsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.eventCard {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.eventCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.eventImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.eventDetails {
  padding: 20px;
  text-align: center;
}

.eventDetails h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.eventDetails p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
}

.getTicketsButton {
  background-color: #f16a44;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.getTicketsButton:hover {
  background-color: #b54500;
}
