.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .header.hidden {
    transform: translateY(-100%);
  }
  
  .logo {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .navWrapper {
    margin-top: 40px;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .navWrapper {
      margin-top: 0;
    }
  }
  