.hero {
    margin: 30px;
}

.heroImage {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
  
  .heroText {
    font-size: 2rem;
    color: #fff;
  }
  
  .heroSubtext {
    font-size: 1.2rem;
    color: #ccc;
  }
  
  .heroLink {
    text-decoration: none;
    color: inherit;
    display: block;
  }