.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 20px;
}

.homeContent {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.lowerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}